
.results {
  @include flexbox($direction: column, $justify: center, $align: center);
}
.invitation {
  @include flexbox($justify: space-between, $align: center, $wrap: wrap);
}
.invitationFront, .letter {
  @include flexbox($direction: column, $justify: center, $align:center);
  width: 450px;
  height: 600px;
  margin: 10px 20px;
  background: $lightgray;
}
.invitationFront {
  padding: 10px;
  h1 {
    width: 100%;
    font-family: 'Cinzel' !important;
    color: $orange;
    font-size: 4em;
    line-height: .85;
    font-weight: lighter;
  }
  p {
    width: 70%;
    font-size: 1.2em;
    color: $blue;
  }
  .lead {
    line-height: 1.2;
    color: $darkgray;
    font-size: 1.5em;
  }
}
.letter {
  font-size: 13px;
  padding: 5% 5% 5% 5%;
  img {
    margin-bottom: 10px;
  }
  .blue {
    color: $blue;
  }
  .details {
    font-color: $black;
  }
  .warm {
    color: $orange;
  }
}

#clearResult {
  background: $green;
  &:hover {
    background: $white;
    color: $orange;
  }
}
